.intro { 
    height: 675px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    margin-left: 10%;
    padding: 25px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

.icon-bar a:hover {
    background-color: #64ffda;
}

.gmail {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: orangered;
    color: white;
}

.profile-pic {
    float: right;
    width: 22%; 
    margin: 10% 10% 0% 6%;
    height: 500px;
}


.content {
    margin-left: 10%;
    margin-right: 20%;
    padding: 10% 10% 0% 0%;
}

.hi {
    font-size: 20px;
}

.myname {
    margin: 2% 0% 0% 2%;
    font-family: inherit;
    font-size: 70px;
    color: white;
}

.myprof {
    margin: 1% 0% 0% 3%;
    font-style: italic;
    font-size: 50px;
    color: white;
}

.mydesc {
    margin: 4% 0% 0% 3%;
    font-family: none;
    font-size: 25px;
    color: white;
}

.get-in-touch {
    color: #64ffda;
    margin: 8% 0% 0% 3%;
    width: 25%;
    font-size: 25px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    cursor: pointer;
}