body {
  background-color: #132639;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
}

.header-lists {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.header-list {
  float: right;
}

.header-list a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 50px;
  font-size: 20px;
  text-decoration: none;
}

.header-list a:hover {
  color: #64ffda;
}

.outer-box {
  border-style: groove;
  border-width: 2px;
  border-radius: 3%;
  border-color: #64ffda;
  color: #64ffda;
  margin-right: 2%;
}

.activ a {
  /* background-color: #234e5f; */
  background-image: linear-gradient(#234e5f, #4894b3);
  color: #64ffda;
}

img {
  border-radius: 8px;
}